<% provide(:title, "Login") %>

<div class="col-lg-4">

  <%= form_for(:session, url: login_path, class: "form-group") do |f| %>
    <h1>Log in</h1>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control"  %>

    <br>
    <%= f.submit "Login" %>
  <% end %>

</div>
